/* Login.css */

.movi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  animation: stars 50s linear infinite;
}

@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}


